main {
    padding-top: 2rem;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(30%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.package {
    margin: 1rem 0;
    padding: 0;
    width: 80%;
    border: 4px solid #0e4f1f;
    border-left: none;
    position: relative;
}

.package a {
    display: block;
    text-decoration: none;
    padding: 2rem;
    color: inherit;
}


.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 4px solid #FF5454;
    border-left: none;
}

.package__badge {
    position: absolute;
    top: 0px;
    right: 0;
    margin: 1.25rem;
    font-size: 0.75rem;
    color: #fff;
    background-color: #ff5454;
    padding: 0.5rem;
    z-index: 10;
}

.package__benefit {
    color: #979797;
}

.package--highlighted .package__title {
    color: #fff;
}

.package__description {
    background-color: #fff;
    border: 1px solid #0e4f1f;
    color: #0e4f1f;
    padding: 1rem;
    font-size: 1.25rem;
}

.clearfix {
    clear: both;
}

#first {
    background-color: rgba(213, 255, 220, 0.95);

}

#second {
    background-color: rgba(234, 252, 237, 0.95);
    float: right;
    border-left: 4px solid #0e4f1f;
    border-right: none;
}

#second .package__description {
    text-align: right;
}

#second:hover,
#second:active {
    border-left: 4px solid #FF5454;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

#third {
    background-color: rgba( 14, 79, 31, 0.95);
}

#third .package__title {
    color: #fff;
}

#third .package__benefit {
    color: #bbb;
}

@media (min-width: 40rem) {
    main {
        max-width: 75rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 75rem) {
    .package {
        border-left: 4px solid #0e4f1f;
    }

    #second {
        border-right: 4px solid #0e4f1f;
    }

    .package:hover,
    .package:active {
        border-left: 4px solid #ff5454;
    }

    #second:hover,
    #second:active {
        border-right-color: #ff5454;
    }
}